<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Carsup{% endblock %}</title>
    {% block stylesheets %}
        {# Global styles bundled with webpack #}
        <link rel="stylesheet" href="{{ asset('build/base.css') }}" />
    {% endblock %}
    {% block head %}{% endblock %}
</head>
<body class="bg-dark">
{% block javascripts %}
    {# Global dependencies bundled with webpack #}
    <script src="{{ asset('build/base.js') }}"></script>
{% endblock %}
{% block body %}{% endblock %}
</body>
</html>