{% extends 'navigation.html.twig' %}

{% block content %}

    <div id="page-wrapper" style="margin: 0px; border: none;">
    <h1 class="page-header">Products</h1>
    <i class="fa fa-plus-square fa-4x" style="margin-bottom: 10px; color: #337ab7"></i>
    {% block navigation %}{% endblock %}
    {% for p in products %}
        <div class="row">
                <div class="col-lg-4">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <div class="row">
                                                <div class="col-xs-3">
                                                        <div>{{ p.name }}</div>
                                                </div>
                                        </div>
                                </div>
                                <div class="panel-body">
                                        <div>{{ p.count }} {{ p.unit }}</div>
                                </div>
                        </div>
                </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
