{% extends 'navigation.html.twig' %}

{% block content %}

    <div id="page-wrapper" style="margin: 0px; border: none;">
    <h1 class="page-header">Products</h1>
    <i class="fa fa-plus-square fa-4x" style="margin-bottom: 10px; color: #337ab7"></i>
    {% block navigation %}{% endblock %}
    {% for p in products %}
        <div class="row">
            <div class="col-lg-4">
        {% if p.count >= 10 %}
            <div class="panel panel-success">
        {% elseif p.count > 1 %}
            <div class="panel panel-warning">
        {% else %}
            <div class="panel panel-danger">
        {% endif %}
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <div id="productName">{{ p.name }}</div>
                        </div>
                        <button type="button" class="btn btn-default">
                            Edit
                            <span><i class="fa fa-edit"></i></span>
                        </button>
                        <button type="button" class="btn btn-default" id="removeProductButton">
                            Delete
                            <span><i class="fa fa-remove"></i></span>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div>{{ p.count }} {{ p.unit }}</div>
                </div>
            </div>
            </div>
            </div>
    {% endfor %}
</div>
{% endblock %}
